#proton-target {
    position:absolute;
    top:-110px;
    left:370px;
    width:170px;
    pointer-events:none;
    opacity:0.5;
}

#proton {
    position:absolute;
    top:-100px;
    left:1000px;
    width:170px;
    cursor:pointer
}

#electron-target {
    position:absolute;
    top:-130px;
    left:-25px;
    width:150px;
    pointer-events:none;
    opacity:0.5;
}

#electron {
    position:absolute;
    top:-30px;
    right:-720px;
    width:150px;
    cursor:pointer;
}

#neutron-target {
    position:absolute;
    top:-150px;
    left:775px;
    width:170px;
    pointer-events:none;
    opacity:0.5;
}

#neutron {
    position:absolute;
    top:-50px;
    left:-200px;
    width:170px;
    cursor:pointer;
}

#paraguas-target {
    position:absolute;
    top:3790px;
    left:450px;
    width:400px;
    pointer-events:none;
    opacity:0.5;
}

#paraguas {
    position:absolute;
    top:4000px;
    left:50px;
    width:400px;
    cursor:pointer;
}

#chubasquero-target {
    position:absolute;
    top:4000px;
    left:430px;
    width:650px;
    pointer-events:none;
    opacity:0.5;
}

#chubasquero {
    position:absolute;
    top:4100px;
    left:900px;
    width:630px;
    cursor:pointer;
}